.App {
  text-align: center;
}

.app-body {
  background-color: #151515;
}

.article-content p {
  font-size: 18px;
  line-height: 28px;
  margin-block-start: 1.2em;
  margin-block-end: 1.2em;
}

.article-content h2 {
  font-size: 28px;
  margin-block-start: 2.5em;
  margin-block-end: 1.5em;
}

.fade-in {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}

.fade-in-delay {
  animation: fadeIn cubic-bezier(0.61, 0.01, 0.58, 0.58) 2.5s;
  -webkit-animation: fadeIn cubic-bezier(0.61, 0.01, 0.58, 0.58) 2.5s;
  -moz-animation: fadeIn cubic-bezier(0.61, 0.01, 0.58, 0.58) 2.5s;
  -o-animation: fadeIn cubic-bezier(0.61, 0.01, 0.58, 0.58) 2.5s;
  -ms-animation: fadeIn cubic-bezier(0.61, 0.01, 0.58, 0.58) 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
